body {
	margin: 0;
	font-family: helvetica;
}

#logo {
	height: 266px;
	width: 400px;

}

#container	{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;

}